---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Clon Spotify">
	<div id="playlist-container" class="relative transition-all duration-1000 bg-green-600">
		<div>
			PlaceHeader
		</div>

		<div class="relative z-10 px-6">
			Greetings
		</div>
	</div>
</Layout>
